{% extends "automania/base.html" %}

{% block title %}your Order{% endblock %}


{% block content %}

    {% for car in cars %}

        <div class="card">
            <div class="card-header">
           {{ car.brand }} {{ car.year }}
           </div>
           <div class="card-body">
           <h5 class="card-title">{{ car.price }}</h5>
           <p class="card-text">{{ car.country }}</p>
           <a href="{{ car.get_url }}" class="btn btn-primary">Watch Car</a>
               <a href="{{ car.get_update_url }}" class="btn btn-primary">Update car</a>
          </div>
        </div>
        <p>   </p>
    {% endfor %}

{% endblock %}